@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
@import url('https://fonts.googleapis.com/css?family=Muli:300,300i,400');
@import url('https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

@font-face {
  font-family: Helvetica Neue;
  src: url($baseUrl + 'fonts/HelveticaNeue/HelveticaNeue.otf');
}


$font-helvetica-neue: 'Helvetica Neue';