/*
 |--------------------------------------------------------------------------
 | Media sizes
 |--------------------------------------------------------------------------
 */
$screen-wider: 1440px !default;

/*
 |--------------------------------------------------------------------------
 | Container sizes
 |--------------------------------------------------------------------------
 */
$container-wider-size: 1280px;

/*
 |--------------------------------------------------------------------------
 | Header
 |--------------------------------------------------------------------------
 */
$header-height: 100px;
$logo-height: 34px;
$sticky-height: 70px;

/*
 |--------------------------------------------------------------------------
 | Login
 |--------------------------------------------------------------------------
 */
$login-width: 395px;
