.feature {
  padding: 60px 0 60px 0;
}

.feature-header {
  text-align: center;
  margin: 0 auto 100px auto;

  h5 {
    font-family: Muli;
    font-size: 42px;
    color: $cl-gray-3;
  }
  p {
    font-family: Roboto;
    font-size: 24px;
    width: 65%;
    max-width: 700px;
    margin: 0 auto;
    color: $cl-gray-2;
  }
}

.feature-content {
  position: relative;
  margin: 130px 0;

  &:last-child{
    .feature-content-inner{
      &:after{
        content: none !important;
      }
    }
  }

  &:before, &:after {
    content: '';
    width: 45vw;
    height: 45vw;
    position: absolute;
    top: -10vw;
    z-index: -1;
    background-size: 100% 100%;
  }
  &.left {
    &:after {
      right: 0;
      background-image: url($baseUrl + '/media/image/ellipse-right.svg');
    }
  }

  &.right {
    &:after {
      left: 0;
      background-image: url($baseUrl + '/media/image/ellipse-left.svg');
    }
  }

  .feature-content-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }

  &.left {
    .feature-content-inner{
      &:after {
        content: url($baseUrl + '/media/image/feature-arrow-left.svg');
        position: absolute;
        bottom: -60px;
        right: -10px;
      }
    }
  }

  &.right {
    .feature-content-inner{
      &:after {
        content: url($baseUrl + '/media/image/feature-arrow-right.svg');
        position: absolute;
        bottom: -60px;
        left: -10px;
      }
    }
  }

  h6 {
    color: $cl-blue-2;
    font-family: Muli;
    font-size: 36px;
  }
  p {
    font-family: 'Open Sans';
    font-size: 24px;
    color: $cl-gray-1;
    margin-bottom: 0;

    &:before {
      content: url($baseUrl + '/media/icon/checked.svg');
      margin-right: 15px;
    }
  }

  img {
    max-width: 95%;
  }

}